/*кастомный чекбокс*/
.form-agreement {
  margin-top: 20px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  text-align: center;
}
.form-agreement__label {
  /*display: flex;
  justify-content: center;
  align-items: center;*/

  color: var(--text-color);
}
.form-agreement__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

  &:checked + .icon {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
    background-image: url("../images/icons.svg/check.svg");
    background-size: contain;
    background-origin: border-box;
  }
}

.form-agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;

  border: 2px solid var(--title-color);
  margin-right: 11px;

  transition: background-color var(--animation-duration),
    background-image var(--animation-duration);
}

.form-agreement__link {
  color: var(--hover-color);
  text-decoration: underline;
}
