/*Постоянные клиенты*/
.section-clients {
  text-align: center;
}
.clients {
  @media screen and (max-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-flex;
    flex-wrap: nowrap;

    &__icons-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients__icons-item {
  @media screen and (max-width: $tablet) {
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }

  @media screen and (max-width: $desktop) {
    margin-left: 30px;
    margin-top: 30px;
  }
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--dark-bg-text-color);
  transition: border var(--animation-duration);

  &:hover .icon,
  &:focus .icon,
  &:active .icon {
    fill: var(--hover-color);
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid var(--hover-color);
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
  @media screen and (min-width: $mobile) {
    width: 170px;
  }
}
.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--animation-duration);
}
