/* кнопки фильтра */
.filters {
  /*display: flex;
  justify-content: center;*/
  margin-bottom: 50px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__button {
  padding: 6px 22px;

  background: var(--dark-dg-filters-color);
  border-radius: 4px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  transition: color var(--animation-duration),
    background-color var(--animation-duration),
    box-shadow var(--animation-duration);

  &:active,
  &:hover,
  &:focus {
    background: var(--button-color);
    color: var(--dark-bg-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
