/*Підвал сторінки*/
.footer {
  background: var(--dark-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.flexbox {
  display: flex;
  align-items: baseline;
}
.footer-position {
  max-width: 231px;
  flex-basis: 50%;

  &:not(:last-child) {
    margin-right: 70px;
  }
}
