/*модалка форма заполнения*/
.form {
  padding: 40px;

  @media screen and (max-width: $tablet) {
    max-width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }
}
.form__heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
.form-field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  & input:focus,
  & textarea:focus {
    outline: none;
    border: 1px solid #2196f3;
    color: var(--hover-color);
  }
  & input:focus + .icon,
  & textarea:focus + .icon {
    fill: var(--hover-color);
  }
}

.form__lible {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.field-position {
  position: relative;
}
.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border var(--animation-duration), color var(--animation-duration);
}
.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  transition: border var(--animation-duration), color var(--animation-duration);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.form__lible {
  width: 100%;
}
.form__input {
  width: 100%;
}
.form__icon {
  position: absolute;
  fill: var(--title-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--animation-duration);
}
