/*Чим ми займаемося*/
/*.hobbies-items {
  display: flex;
  flex-wrap: wrap;
}*/
.hobbies__list {
  /*flex-basis: calc((100% - 30px * 2) / 3);*/
  z-index: 1;
  position: relative;
  width: 370px;
  height: 294px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.img {
  display: block;
}
.overlay {
  position: absolute;
  padding: 27px 81px;
  top: 224px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.overlay__text {
  color: var(--dark-bg-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
