/*Навигацыя*/
.menu {
  /*display: flex;*/
  margin-left: 93px;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  --text-color: #212121;
}
.menu__current {
  color: var(--hover-color);

  .menu__item &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}
