/*Проэкт*/
.project {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    /* простой вариант (но без фона)*/
    margin-left: -30px;
    margin-top: -30px;
  }
}
.project__item {
  &:not(:last-child) {
    @media screen and (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-left: 30px;
    margin-top: 30px;
    max-width: 354px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 370px;
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

/* вариант сетки с применением вычислений
.items-project .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.items-project .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
*/

.image {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.overlay-project {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
}

.overlay-project__text {
  color: var(--dark-bg-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.text-image {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__text {
  font-size: 16px;
  line-height: 1.8;
}
.project__item {
  &:hover,
  &:focus,
  &:active {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay-project,
  &:focus .overlay-project {
    transform: translatex(0);
  }

  @media screen and (max-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}
@media screen and (min-width: $tablet) and (max-width: $desktop) {
  .text-image--tablet {
    padding-bottom: 54px;
  }
}
