/*Наша команда*/
.section.team {
  background: var(--section-color);
}
/*.team-items {
  display: flex;
  flex-wrap: wrap;
}*/
.team__list {
  max-width: 270px;

  flex-basis: calc((100% - 30px * 3) / 4);
  background: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.text-card {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
}
